# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem will be summarized and explained.

In today's world, there are a lot of data science languages that are currently being used. Some of the most used ones are:
1. Python
2. R
3. SQL

There are also many libraries commonly used by data scientists. These include:
1. Numpy
2. Pandas
3. Matplotlib

Data Science Tools


 |Data Science Tools|
 |-----------|
 |Jupyter Notebooks |
 | Pytorch          |
 |Apache Spark	   |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author :
Ata Uzun